<div class="container">
    <h2>Inställningar</h2>
    <h3>Slumpalternativ</h3>
    <div id="xGroups" class="group-selector selected-group">Slumpa X grupper</div>
    <div id="xNames" class="group-selector">Slumpa grupper med X medlemmar</div>

    <form id="group-amount-form">
        <input id="group-amount" type="number" value="2">
        <button id="group-subtract" class="group-button button">-</button>
        <button id="group-add" class="group-button button">+</button>
    </form>

    <button id="group-slump" class="button">Slumpa fram grupper</button>
</div>