<div class="container">
    <h2>Grupper</h2>
    <div id="groups">
        <div class="group m-3">
            <h4>Exempel Grupp</h4>
            <div class="group-names">
                <p class="name">Namn 1</p>
                <p class="name">Namn 5</p>
                <p class="name">Namn 7</p>
                <p class="name">Namn 8</p>
            </div>
        </div>
        <div class="group m-3">
            <h4>Exempel Grupp 2</h4>
            <div class="group-names">
                <p class="name">Namn 2</p>
                <p class="name">Namn 3</p>
                <p class="name">Namn 4</p>
                <p class="name">Namn 6</p>
            </div>
        </div>
    </div>    
</div>