<div class="container">
    <h2>Grupptyp</h2>
    <div id="xGroups" class="group-selector selected-group">Slumpa X grupper</div>
    <div id="xNames" class="group-selector">Slumpa grupper med X medlemmar</div>

    <form id="group-amount-form">
        <input id="group-amount" type="number" value="2">
        <button id="group-subtract" class="group-button button">-</button>
        <button id="group-add" class="group-button button">+</button>
    </form>

    <button id="group-slump" class="button">Slumpa fram grupper</button>
</div>
<div class="container">
    <h2 class="text-center">Grupper</h2>
    <div id="groups">
        <div class="group">
            <h4>Grupp 0</h4>
            <div class="group-names">
                <p>Namn 1</p>
                <p>Namn 2</p>
                <p>Namn 3</p>
                <p>Namn 4</p>
            </div>
        </div>
    </div>    
</div>