<div class="container d-flex flex-column justify-content-center">
    <h2>Namn</h2>
    <div id="name-list-wrapper">
        <div>
            <form class="mr-3">
                <input placeholder="Skriv namn här" id="name-input" type="text">
                <button type="submit" class="button" id="name-submit">Lägg till</button>
            </form>
            <div id="name-list-button-wrapper" class="my-3 mr-3">
                <button class="button name-button" id="name-clear">Ta bort alla</button>
                <button class="button name-button" id="name-delete">Ta bort individ</button>
            </div>
        </div>
    
        <div class="mr-3">
            <p id="name-amount">Antal: 0</p>
            <ul id="name-list"></ul>
        </div>
    </div>
</div>