---
---

$selectedBackground: #999999;

h1 {
    a {
        color: black;           
    }
}

.button, .group-selector {
    color: black;
    border: 1px solid black;
    padding: 4px 6px;
    text-decoration: none;
    cursor: pointer;
    background: rgba(211, 211, 211, 0.692);
}

#name-list-title {
    display: inline
}

#name-list {
    list-style: none;
    padding: 0;
    border: 1px solid black;
}
.list-name {
    margin: 3px 5px;
    padding: 1px;
    cursor: pointer;
}
.selected {
    background-color: $selectedBackground;
}

.selected-group {
    background-color: #bcff7d;
}

#group-amount-form {
    margin-top: 5px;
}

#groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .group {
        border: 1px solid black;
        max-width: 200px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h4 {
            margin: 10px;
            font-size: 17px;
        }
        .group-names {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            p {
                font-size: 14px;
                margin: 7px;
            }
        }
    }
}