---
---

// Colors - Start

$backgroundLight: #ffffff;
$selectedGroupLight: #bcff7d;
$selectedBackgroundLight: rgb(186, 186, 186);
$buttonBackgroundLight: rgba(211, 211, 211, 0.7);
$borderColorLight: #000000;
$textColorLight: #000000;

@media (prefers-color-scheme: light) {
    body {
        background-color: $backgroundLight;
    }
    * {
        color: $textColorLight;
    }
    h1 {
        a {
            color: $textColorLight
        }
    }
    .button, .group-selector {
        border-color: $borderColorLight;
        border-color: $borderColorLight;
        background-color: $buttonBackgroundLight;
    }
    #name-list {
        border-color: $borderColorLight;

        .selected {
            background-color: $selectedBackgroundLight;
        }
    }
    #name-amount {
        border-color: $borderColorLight;
    }
    .group-leader {
        background-color: $selectedBackgroundLight;
    }
    .selected-group {
        background-color: $selectedGroupLight;
    }
    .group {
        border-color: $borderColorLight;
    }
}

$backgroundDark: #121212;
$selectedGroupDark: #7cd32b;
$selectedBackgroundDark: rgb(75, 75, 75);
$buttonBackgroundDark: rgba(44, 44, 44, 0.7);
$borderColorDark: #ffffff;
$textColorDark: #ffffff;

@media (prefers-color-scheme: dark) {
    body {
        background-color: $backgroundDark;
    }
    * {
        color: $textColorDark;
    }
    h1 {
        a {
            color: $textColorDark
        }
    }
    .button, .group-selector {
        color: $textColorDark;
        border-color: $borderColorDark;
        background-color: $buttonBackgroundDark;
    }
    #name-list {
        border-color: $borderColorDark;

        .selected {
            background-color: $selectedBackgroundDark;
        }
    }
    #name-amount {
        border-color: $borderColorDark;
    }
    .group-leader {
        background-color: $selectedBackgroundDark;
    }
    .selected-group {
        background-color: $selectedGroupDark;
    }
    .group {
        border-color: $borderColorDark;
    }
}

// Colors - End

* {
    font-family: 'Kavivanar', cursive;
}

#version {
    margin-top: -45px;
    font-size: 30px;
}

.button, .group-selector {
    border: 1px solid;
    padding: 4px 6px;
    text-decoration: none;
    cursor: pointer;
}
.group-button {
    min-width: 22px
}
.group-selector {
    max-width: 260px;
}
.group-selector:nth-of-type(2) {
    border-top: none
}

.name-button:nth-of-type(2) {
    border-top: none;
}

#name-list-wrapper {
    display: flex;
    flex-wrap: wrap;
}
#name-list-button-wrapper {
    display: flex;
    flex-direction: column;
}
#name-list-title {
    display: inline
}
#name-list {
    list-style: none;
    padding: 3px;
    border: 1px solid;
    overflow-y: scroll;

    min-width: 200px;
    min-height: 180px;
    max-height: 500px;

    // Names entered by the user
    .list-name { 
        margin: 3px 5px;
        padding: 3px;
        cursor: pointer;
    }
}
#name-amount {
    border: 1px solid;
    padding: 4px 6px;
}

//
// GROUPS
// Some button related css is still up above
//

#group-amount-form {
    margin-top: 5px;
}
// Removes up down arrows from chromium browsers
#group-amount::-webkit-outer-spin-button,
#group-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// Removes up down arrows from firefox
#group-amount[type=number] {
    -moz-appearance: textfield;
}

// Wrapper for .group divs
#groups {
    display: flex;
    flex-wrap: wrap;

    // Main div for each individual group
    .group {
        border: 1px solid;
        max-width: 200px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        // Group title
        h4 {
            margin: 10px;
            font-size: 17px;
        }

        // Groups names wrapper
        .group-names {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            // Names in group
            p {
                font-size: 14px;
                margin: 7px;
            }
        }
    }
}
#group-leader-form {
    min-width: 10rem;
    padding: 5px;
    

    #group-leader-checkbox {
        position: relative !important;
        display: inline-block !important;
        margin: 0;

    }
}