---
---

$selectedBackground: #999999;

* {
    font-family: 'Kavivanar', cursive;
}

h1 {
    a {
        color: black;           
    }
}

h2 {

}

.button, .group-selector {
    color: black;
    border: 1px solid black;
    padding: 4px 6px;
    text-decoration: none;
    cursor: pointer;
    background: rgba(211, 211, 211, 0.692);
}

#name-list-wrapper {


    div {
        #name-list-title {
            display: inline
        }
    }
    #name-list {
        list-style: none;
        padding: 0;
        border: 1px solid black;

        // Names entered by the user
        .list-name { 
            margin: 3px 5px;
            padding: 1px;
            cursor: pointer;
        }
        .selected {
            background-color: $selectedBackground;
        }
    }
}

.selected-group {
    background-color: #bcff7d;
}

#group-amount-form {
    margin-top: 5px;
}

// Wrapper for .group divs
#groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    // Main div for each individual group
    .group {
        border: 1px solid black;
        max-width: 200px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        // Group title
        h4 {
            margin: 10px;
            font-size: 17px;
        }

        // Groups names wrapper
        .group-names {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            // Names in group
            p {
                font-size: 14px;
                margin: 7px;
            }
        }
    }
}