<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slumpgenerator</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <form>
        <input id="name-input" type="text">
        <button type="submit" class="button" id="name-submit">Lägg till</button>
    </form>
    <br>
    <div>
        <p id="name-list-title">Namn:</p>
        <button class="button" id="name-clear">Ta bort allt</button>
        <button class="button" id="name-delete">Ta bort individ</button>
        <ul id="name-list"></ul>
    </div>

    <div>
        <p>Grupptyp</p>
        <div class="group-selector selected-group">Slumpa X grupper</div>
        <div class="group-selector">Slumpa X medlemmar i varje grupp</div>

        <form id="group-amount-form">
            <input id="group-amount" type="number" value="2">
            <button id="group-subtract" class="group-button button">-</button>
            <button id="group-add" class="group-button button">+</button>
        </form>

        <button id="group-slump" class="button">Slumpa fram grupper</button>
    </div>
    <script src="scripts/jquery-3.5.1.min.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>